input {
  border: none;
  width: 100%;
  font-size: 14px;
  padding: 2px;
  text-align: center;
}

input:hover { background-color: #eee; }
input:focus { background-color: #ccf; }

table {
border-collapse: collapse;
width: 100%;
}

td {
  border: 1px solid #999;
  padding: 0;
}

tr:first-child td input {
  background-color: #ccc;
  font-weight: bold;
  text-align: center;
  user-select: none;
}